*, *::before, *::after {
  box-sizing: border-box;
}

/**********
 Footer at the bottom of the page even if the main content is small
**********/

/* using Flexbox (my preferred method) */
/* Set the body to be 100% of the viewport height and set the main content to grow to the biggest it can be (while still leaving the header and footer to be big enough to display their content) */
/* body {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  padding: 0;
  margin: 0;
}

main {
  flex-grow: 9999;
}

footer {
  margin-top: auto;
} */

/* Using Grid */

body {
  display: grid;
  height: 100vh;
  padding: 0;
  margin: 0;
  grid-template-rows: minmax(2rem, 1fr) 5fr minmax(2rem, 1fr);
}

.flex-items {
  display: flex;
  justify-content: space-between;
}

img {
  max-width: 100%;
}




/**********
 Consistant gap between flex items (see https://every-layout.dev/)
**********/

.cluster {
  overflow: hidden; /* prevent the negative margin from causing scroll bars to appear */
}

.cluster > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: -0.5rem;
}

.cluster > * > * {
  margin: 0.5rem;
}




/**********
Is there a way to transition-height (like transition-width) (ex. with a dropdown hamburger menu)
**********/

/* any and all transitions need to go from a fixed number to a fixed number; you can't transition `auto` */

.height-transition {
  background-color: #333;
  margin-top: 2rem;
}

.transition-pic {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 1s;
}

.transition-pic:hover {
  transform: scaleY(0.05);
}




/**********
How do you have an image in a box that has text in the image but on the bottom of the image? And when you hover the image, the image zooms in slightly, and the text gets a transparent black background around it?
**********/

.text-in-image {
  position: relative; /* this forces the text span to not exceed the container div */
  display: inline-block; /* this makes the container div only as big as the largest content (the image) but won't have any elements next to it */
  overflow: hidden; /* this allows for "zooming" in on the image witout it getting physically bigger on the screen */
}

.text-in-image > img {
    transform: scale(1); /* we need an initial state to transition from */
    transition: 1s ease-in-out;

}

.text-in-image > span {
  background-color: white;
  position: absolute; /* takes the span out of the normal flow */
  bottom: 0; /* puts the text span on the bottom of the div, which is the bottom of the image */
  left: 50%; /* this, with the translate below, puts the span in the center of the image */
  transform: scale(1) translateX(-50%);
  text-align: center; /* centers the text so it's not left-aligned */
  transition: color 1s, background-color 1s;
  width: 100%; /* the text span fills the entire width of the image */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text-in-image > img:hover {
  transform: scale(1.3); /* state to transition to */
}

.text-in-image > img:hover ~ span {
  background-color: rgba(0,0,0,0.75);
  color: white;
}